# Data Preparation

### Filtering Strategy

**Aggregate Level:** "S". Focuses analysis on individual schools.  
**CharterSchool:** "No" or "N". Excludes charter schools to focus on traditional public high schools.   
**DASS:** "No" or "N". Removes alternative/continuation programs so graduation rates reflect typical comprehensive high schools.   
**ReportingCategory:** "TA". Keeps aggregate totals for each school (not broken down by subgroup) to simplify modeling.

In [1]:
# import libraries
import importlib
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import subprocess
import sys

from pathlib import Path

In [2]:
# import other libraries
from helper import (
    rpkl, # build_cdscode
)

# check if jcds library is installed
package_name = "jcds"

if importlib.util.find_spec(package_name) is None:
    print(f" '{package_name}' not found. Installing from Github... ")
    subprocess.check_call(
        [
            sys.executable,
            "-m",
            "pip",
            "install",
            "https://github.com/junclemente/jcds.git",
        ]
    )
else:
    print(f" '{package_name}' is already installed.")

from jcds import eda as jeda
from jcds import reports as jrep

 'jcds' is already installed.

In [3]:
# main data folder path
data_folder = Path("../data")
raw_pickle = Path(data_folder / "raw_pickle")

## Public Schools and Districts

Get all unique schools that only teach grades 9 - 12. 
`cdscode` is a unique code for each school that depicts county, district, and school ID numbers. 

[Data Dictionary: Public Schools and Districts](https://www.cde.ca.gov/ds/si/ds/fspubschls.asp)

In [4]:
df_schooldata = rpkl(raw_pickle, "raw_school_data.pkl")

‚ÑπÔ∏è 'cdscode' already exists ‚Äî skipping creation

üìÅ Columns in raw_school_data.pkl:
['cdscode', 'ncesdist', 'ncesschool', 'statustype', 'county', 'district', 'school', 'street', 'streetabr', 'city', 'zip', 'state', 'mailstreet', 'mailstrabr', 'mailcity', 'mailzip', 'mailstate', 'phone', 'ext', 'faxnumber', 'website', 'opendate', 'closeddate', 'charter', 'charternum', 'fundingtype', 'doc', 'doctype', 'soc', 'soctype', 'edopscode', 'edopsname', 'eilcode', 'eilname', 'gsoffered', 'gsserved', 'virtual', 'magnet', 'yearroundyn', 'federaldfcdistrictid', 'latitude', 'longitude', 'admfname', 'admlname', 'lastupdate', 'multilingual']

In [5]:
cols_schooldata = ['cdscode',
#  'ncesdist',
#  'ncesschool',
#  'statustype',
 'county',
#  'district',
#  'school',
#  'street',
#  'streetabr',
#  'city',
#  'zip',
#  'state',
#  'mailstreet',
#  'mailstrabr',
#  'mailcity',
#  'mailzip',
#  'mailstate',
#  'phone',
#  'ext',
#  'faxnumber',
#  'website',
 'opendate',
#  'closeddate',
 'charter',
#  'charternum',
#  'fundingtype',
#  'doc',
 'doctype',
#  'soc',
 'soctype',
 'edopscode',
#  'edopsname',
 'eilcode',
#  'eilname',
#  'gsoffered',
#  'gsserved',
 'virtual',
 'magnet',
 'yearroundyn',
#  'federaldfcdistrictid',
 'latitude',
 'longitude',
#  'admfname',
#  'admlname',
#  'lastupdate',
 'multilingual']


df_schooldata = df_schooldata[cols_schooldata]
df_schooldata.head()

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,yearroundyn,latitude,longitude,multilingual
59,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.764958,-122.24593,N
91,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.896661,-122.29257,N
113,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.868913,-122.27120,Y
153,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.705184,-122.07847,N
154,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,N,37.713501,-122.09222,N

In [6]:
# check if list has uniuqe cdscode
df_schooldata["cdscode"].is_unique
df_schooldata.head()

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,yearroundyn,latitude,longitude,multilingual
59,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.764958,-122.24593,N
91,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.896661,-122.29257,N
113,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.868913,-122.27120,Y
153,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.705184,-122.07847,N
154,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,N,37.713501,-122.09222,N

In [7]:
jrep.data_info(df_schooldata, show_columns=True)

SHAPE:
There are 1067 rows and 14 columns (0.92 MB).

DUPLICATES:
There are 0 duplicated rows.

COLUMNS/VARIABLES:
Column dType Summary:
 * object: 14
There are 0 numerical (int/float/bool) variables.
 * Columns: []
There are 14 categorical (nominal/ordinal) variables.
 * Columns: ['cdscode', 'county', 'opendate', 'charter', 'doctype', 'soctype', 'edopscode', 'eilcode', 'virtual', 'magnet', 'yearroundyn', 'latitude', 'longitude', 'multilingual']

DATETIME COLUMNS:
There are 0 datetime variables and 1 possible datetime variables.

OTHER COLUMN/VARIABLE INFO:
ID Like Columns (threshold = 95.0%): 3
Columns with mixed datatypes: 1
 * Columns: ['opendate']

# California: Department of Education

## Adjusted Cohort Graduation Rate and Outcome Data (ACGR)

**Adjusted Cohort Graduation Rate and Outcome Data**
Four-year Adjusted Cohort Graduation Rate (ACGR) and Outcome data reported by race/ethnicity, student group, and gender.  

[Data Dictionary: ACGR](https://www.cde.ca.gov/ds/ad/fsacgr.asp)

In [8]:
df_acgr = rpkl(raw_pickle, "raw_acgr.pkl")

‚úÖ Added 'cdscode' using: countycode, districtcode, schoolcode

üìÅ Columns in raw_acgr.pkl:
['academicyear', 'aggregatelevel', 'countycode', 'districtcode', 'schoolcode', 'countyname', 'districtname', 'schoolname', 'charterschool', 'dass', 'reportingcategory', 'cohortstudents', 'regular_hs_diploma_graduates_count', 'regular_hs_diploma_graduates_rate', 'met_uccsu_grad_reqs_count', 'met_uccsu_grad_reqs_rate', 'seal_of_biliteracy_count', 'seal_of_biliteracy_rate', 'golden_state_seal_merit_diploma_count', 'golden_state_seal_merit_diploma_rate', 'chspe_completer_count', 'chspe_completer_rate', 'adult_ed_hs_diploma_count', 'adult_ed_hs_diploma_rate', 'sped_certificate_count', 'sped_certificate_rate', 'ged_completer_count', 'ged_completer_rate', 'other_transfer_count', 'other_transfer_rate', 'dropout_count', 'dropout_rate', 'still_enrolled_count', 'still_enrolled_rate', 'cdscode']

In [9]:
# select columns

cols_acgr = [
 'cdscode',
#  'academicyear',
#  'aggregatelevel',
#  'countycode',
#  'districtcode',
#  'schoolcode',
#  'countyname',
#  'districtname',
#  'schoolname',
#  'charterschool',
#  'dass',
#  'reportingcategory',
 'cohortstudents', # QA for weighing
#  'regular_hs_diploma_graduates_count',
 'regular_hs_diploma_graduates_rate', # target variable
#  'met_uccsu_grad_reqs_count',
 'met_uccsu_grad_reqs_rate',
#  'seal_of_biliteracy_count',
 'seal_of_biliteracy_rate', # language proficiency ???
#  'golden_state_seal_merit_diploma_count',
#  'golden_state_seal_merit_diploma_rate',
#  'chspe_completer_count',
#  'chspe_completer_rate',
#  'adult_ed_hs_diploma_count',
#  'adult_ed_hs_diploma_rate',
#  'sped_certificate_count',
#  'sped_certificate_rate',
#  'ged_completer_count',
#  'ged_completer_rate',
#  'other_transfer_count',
#  'other_transfer_rate',
#  'dropout_count',
 'dropout_rate', # secondary target
#  'still_enrolled_count',
 'still_enrolled_rate' # 5th year senior
 ]


df_acgr = df_acgr[cols_acgr]
df_acgr

,cdscode,cohortstudents,regular_hs_diploma_graduates_rate,met_uccsu_grad_reqs_rate,seal_of_biliteracy_rate,dropout_rate,still_enrolled_rate
66594,01316090131755,11,0.0,0.0,0.0,63.6,0.0
66654,01316170131763,38,63.2,0.0,33.3,2.6,28.9
66718,01611190000001,*,*,*,*,*,*
66782,01611190106401,43,100.0,95.3,2.3,0.0,0.0
66910,01611190130229,394,92.4,73.9,22.8,2.3,1.0
...,...,...,...,...,...,...,...
254262,58727360000000,69,56.5,0.0,0.0,43.5,0.0
254314,58727360000001,*,*,*,*,*,*
254426,58727365830013,226,87.2,36.0,11.7,6.2,5.8
254630,58727365835202,201,90.5,37.4,1.1,7.0,2.0
254766,58727695838305,177,93.8,39.2,0.0,0.0,5.1

In [10]:
df_acgr["cdscode"].is_unique
# df_acgr

True

In [11]:
df_combined = df_schooldata.merge(
    df_acgr,
    on="cdscode",
    how="left"
)

df_combined.head()

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,yearroundyn,latitude,longitude,multilingual,cohortstudents,regular_hs_diploma_graduates_rate,met_uccsu_grad_reqs_rate,seal_of_biliteracy_rate,dropout_rate,still_enrolled_rate
0,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.764958,-122.24593,N,394,92.4,73.9,22.8,2.3,1.0
1,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.896661,-122.29257,N,284,95.1,67.8,21.5,3.5,0.0
2,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.868913,-122.27120,Y,861,90.5,62.3,12.1,8.1,0.8
3,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,N,37.705184,-122.07847,N,672,96.4,72.8,25.0,2.2,0.0
4,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,N,37.713501,-122.09222,N,31,100.0,64.5,6.5,0.0,0.0

## Absenteeism

### Chronic Absenteeism Data

[Data Dictionary: Chronic Absenteeism](https://www.cde.ca.gov/ds/ad/fsabd.asp)

In [12]:
# load raw dataset and filter
df_chron_abs = rpkl(raw_pickle, "raw_chronic_absent.pkl")

‚úÖ Added 'cdscode' using: county_code, district_code, school_code

üìÅ Columns in raw_chronic_absent.pkl:
['academic_year', 'aggregate_level', 'county_code', 'district_code', 'school_code', 'county_name', 'district_name', 'school_name', 'charter_school', 'reporting_category', 'chronicabsenteeismeligiblecumula', 'chronicabsenteeismcount', 'chronicabsenteeismrate', 'cdscode']

In [13]:
# select columns
chron_abs_cols = [
#  'academic_year',
#  'aggregate_level',
#  'county_code',
#  'district_code',
#  'school_code',
#  'county_name',
#  'district_name',
#  'school_name',
#  'charter_school',
#  'reporting_category',
#  'chronicabsenteeismeligiblecumula',
#  'chronicabsenteeismcount',
 'chronicabsenteeismrate',
 'cdscode']

df_chron_abs = df_chron_abs[chron_abs_cols]
df_chron_abs.head()

      chronicabsenteeismrate         cdscode
57598                   84.4  01100170130419
57599                   61.7  01100170130401
57621                    8.8  01316090131755
57644                   11.6  01316170131763
58027                    3.7  01611196090013

In [14]:
df_combined = df_combined.merge(
    df_chron_abs,
    on="cdscode", 
    how="left"
)

df_combined

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,...,latitude,longitude,multilingual,cohortstudents,regular_hs_diploma_graduates_rate,met_uccsu_grad_reqs_rate,seal_of_biliteracy_rate,dropout_rate,still_enrolled_rate,chronicabsenteeismrate
0,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,37.764958,-122.24593,N,394,92.4,73.9,22.8,2.3,1.0,12.7
1,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,37.896661,-122.29257,N,284,95.1,67.8,21.5,3.5,0.0,70.3
2,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,37.868913,-122.27120,Y,861,90.5,62.3,12.1,8.1,0.8,5.2
3,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,37.705184,-122.07847,N,672,96.4,72.8,25.0,2.2,0.0,3.5
4,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,...,37.713501,-122.09222,N,31,100.0,64.5,6.5,0.0,0.0,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,57727100101162,Yolo,2003-09-02 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,38.657047,-121.74229,Y,327,96.0,54.5,23.6,1.8,0.0,3.9
1063,57727105738802,Yolo,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,38.683705,-121.78395,N,277,96.0,42.5,25.2,2.5,0.0,13.2
1064,58727365830013,Yuba,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,39.079263,-121.53070,N,226,87.2,36.0,11.7,6.2,5.8,24
1065,58727365835202,Yuba,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,39.155225,-121.58565,N,201,90.5,37.4,1.1,7.0,2.0,21.1
1066,58727695838305,Yuba,1980-07-01 00:00:00,N,High School District,High Schools (Public),TRAD,HS,N,N,...,38.998968,-121.45497,N,177,93.8,39.2,0.0,0.0,5.1,16.9

### Absenteeism by Reason

[Data Dictionary: Absenteeism by Reason](https://www.cde.ca.gov/ds/ad/fsabr.asp)

In [15]:
df_abs = rpkl(raw_pickle, "raw_absent_reason.pkl")

‚úÖ Added 'cdscode' using: county_code, district_code, school_code

üìÅ Columns in raw_absent_reason.pkl:
['academic_year', 'aggregate_level', 'county_code', 'district_code', 'school_code', 'county_name', 'district_name', 'school_name', 'charter_school', 'dass', 'reporting_category', 'eligible_cumulative_enrollment', 'count_of_students_with_one_or_more_absences', 'average_days_absent', 'total_days_absent', 'excused_absences_percent', 'unexcused_absences_percent', 'outofschool_suspension_absences_percent', 'incomplete_independent_study_absences_percent', 'excused_absences_count', 'unexcused_absences_count', 'outofschool_suspension_absences_count', 'incomplete_independent_study_absences_count', 'cdscode']

In [16]:
# select columns
abs_cols = [
#  'academic_year',
#  'aggregate_level',
#  'county_code',
#  'district_code',
#  'school_code',
#  'county_name',
#  'district_name',
#  'school_name',
#  'charter_school',
#  'dass',
#  'reporting_category',
 'eligible_cumulative_enrollment',
#  'count_of_students_with_one_or_more_absences',
#  'average_days_absent',
#  'total_days_absent',
#  'excused_absences_percent',
 'unexcused_absences_percent',
 'outofschool_suspension_absences_percent',
#  'incomplete_independent_study_absences_percent',
#  'excused_absences_count',
#  'unexcused_absences_count',
#  'outofschool_suspension_absences_count',
#  'incomplete_independent_study_absences_count',
 'cdscode']


df_abs = df_abs[abs_cols]
df_abs.head()

,eligible_cumulative_enrollment,unexcused_absences_percent,outofschool_suspension_absences_percent,cdscode
583,67,46.9,0,01316090131755
608,329,41.8,1.8,01316170131763
628,22,0,0,01611190000000
647,170,20.2,0,01611190106401
670,473,28.4,0.2,01611190111765

In [17]:
df_combined = df_combined.merge(
    df_abs,
    on="cdscode", 
    how="left"
)

df_combined.head()

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,...,cohortstudents,regular_hs_diploma_graduates_rate,met_uccsu_grad_reqs_rate,seal_of_biliteracy_rate,dropout_rate,still_enrolled_rate,chronicabsenteeismrate,eligible_cumulative_enrollment,unexcused_absences_percent,outofschool_suspension_absences_percent
0,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,394,92.4,73.9,22.8,2.3,1.0,12.7,1841,23.5,0.5
1,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,284,95.1,67.8,21.5,3.5,0.0,70.3,1192,46.2,0.4
2,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,861,90.5,62.3,12.1,8.1,0.8,5.2,3281,24.1,0
3,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,672,96.4,72.8,25.0,2.2,0.0,3.5,2771,28,0.9
4,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,...,31,100.0,64.5,6.5,0.0,0.0,8.3,420,19.1,3.8

## Free or Reduced-Price Meal (Student Poverty)

[Data Dictionary: FRPM ](https://www.cde.ca.gov/ds/ad/fsspfrpm.asp)

In [18]:
df_frpm = rpkl(raw_pickle, "raw_frpm.pkl")

‚úÖ Added 'cdscode' using: county_code, district_code, school_code

üìÅ Columns in raw_frpm.pkl:
['academic_year', 'county_code', 'district_code', 'school_code', 'county_name', 'district_name', 'school_name', 'district_type', 'school_type', 'educational_option_type', 'nslp_provision_status', 'charter_school_yn', 'charter_school_number', 'charter_funding_type', 'irc', 'low_grade', 'high_grade', 'enrollment_k12', 'free_meal_count_k12', 'percent__eligible_free_k12', 'frpm_count_k12', 'percent__eligible_frpm_k12', 'enrollment_ages_517', 'free_meal_count_ages_517', 'percent__eligible_free_ages_517', 'frpm_count_ages_517', 'percent__eligible_frpm_ages_517', 'calpads_fall_1_certification_status', 'cdscode']

In [19]:
cols_frpm = [
    # 'academic_year', 
    # 'county_code', 
    # 'district_code', 
    # 'school_code',
    # 'county_name', 
    # 'district_name', 
    # 'school_name', 
    # 'district_type', 
    # 'school_type', 
    # 'educational_option_type', 
    # 'nslp_provision_status', 
    # 'charter_school_yn', 
    # 'charter_school_number', 
    # 'charter_funding_type', 
    # 'irc', 
    # 'low_grade', 
    # 'high_grade', 
    # 'enrollment_k12', 
    # 'free_meal_count_k12', 
    'percent__eligible_free_k12', 
    'frpm_count_k12', 
    # 'percent__eligible_frpm_k12', 
    # 'enrollment_ages_517', 
    # 'free_meal_count_ages_517', 
    # 'percent__eligible_free_ages_517', 
    # 'frpm_count_ages_517', 
    # 'percent__eligible_frpm_ages_517', 
    'calpads_fall_1_certification_status', 
    'cdscode'
    ]


df_frpm = df_frpm[cols_frpm]
df_frpm.head()

,percent__eligible_free_k12,frpm_count_k12,calpads_fall_1_certification_status,cdscode
0,0.789474,47,Y,01100170130419
1,1.000000,64,Y,01100170130401
14,1.000000,62,Y,01316090131755
15,1.000000,318,Y,01316170131763
17,0.172013,327,Y,01611190130229

In [20]:
df_combined = df_combined.merge(
    df_frpm, 
    on="cdscode", 
    how="left"
)

df_combined.head()

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,...,seal_of_biliteracy_rate,dropout_rate,still_enrolled_rate,chronicabsenteeismrate,eligible_cumulative_enrollment,unexcused_absences_percent,outofschool_suspension_absences_percent,percent__eligible_free_k12,frpm_count_k12,calpads_fall_1_certification_status
0,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,22.8,2.3,1.0,12.7,1841,23.5,0.5,0.172013,327.0,Y
1,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,21.5,3.5,0.0,70.3,1192,46.2,0.4,0.174389,307.0,Y
2,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,12.1,8.1,0.8,5.2,3281,24.1,0,0.262259,935.0,Y
3,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,25.0,2.2,0.0,3.5,2771,28,0.9,0.166358,491.0,Y
4,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,...,6.5,0.0,0.0,8.3,420,19.1,3.8,0.273810,97.0,Y

## CBEDS Data about Schools & Districts

[Data Dictionary: CBEDS](https://www.cde.ca.gov/ds/ad/fscbedsorab19.asp)

In [21]:
df_cbeds = rpkl(raw_pickle, "raw_cbeds.pkl")

‚ÑπÔ∏è 'cdscode' already exists ‚Äî skipping creation

üìÅ Columns in raw_cbeds.pkl:
['cdscode', 'countyname', 'districtname', 'schoolname', 'description', 'level', 'section', 'rownumber', 'value', 'year']

In [22]:
col_cbeds = [
    'cdscode', 
    # 'countyname', 
    # 'districtname', 
    # 'schoolname', 
    # 'description', 
    'level', 
    'section', 
    'rownumber', 
    'value', 
    'year']

df_cbeds = df_cbeds[col_cbeds]
df_cbeds.head()

           cdscode level section rownumber value  year
18  01100170112607     S       B         4  True  2122
19  01100170112607     S       B         8  True  2122
20  01100170112607     S       C         1     0  2122
21  01100170112607     S       C         2     0  2122
22  01100170112607     S       D         1  True  2122

## Staff Data Files

### Student / Staff Ratio

[Data Dictionary: Student-Staff Ratio](https://www.cde.ca.gov/ds/ad/fsstrat.asp)

In [23]:
df_ss_ratio = rpkl(raw_pickle, "raw_student_staff_ratio.pkl")

‚úÖ Added 'cdscode' using: county_code, district_code, school_code

üìÅ Columns in raw_student_staff_ratio.pkl:
['academic_year', 'aggregate_level', 'county_code', 'district_code', 'school_code', 'county_name', 'district_name', 'school_name', 'charter_school', 'dass', 'school_grade_span', 'total_enr_n', 'tch_fte_n', 'adm_fte_n', 'psv_fte_n', 'oth_fte_n', 'stu_tch_ratio', 'stu_adm_ratio', 'stu_psv_ratio', 'stu_oth_ratio', 'cdscode']

In [24]:
cols_ss_ratio = [
    # 'academic_year', 
    # 'aggregate_level', 
    # 'county_code', 
    # 'district_code', 
    # 'school_code', 
    # 'county_name', 
    # 'district_name', 
    # 'school_name', 
    # 'charter_school', 
    # 'dass', 
    'school_grade_span', 
    # 'total_enr_n', 
    # 'tch_fte_n', 
    # 'adm_fte_n', 
    # 'psv_fte_n', 
    # 'oth_fte_n', 
    'stu_tch_ratio', 
    'stu_adm_ratio', 
    'stu_psv_ratio', 
    # 'stu_oth_ratio', 
    'cdscode']



df_ss_ratio = df_ss_ratio[cols_ss_ratio]
df_ss_ratio = df_ss_ratio[df_ss_ratio["school_grade_span"] == "GS_K12"]
df_ss_ratio.head()

,school_grade_span,stu_tch_ratio,stu_adm_ratio,stu_psv_ratio,cdscode
556,GS_K12,*,*,*,01100170000000
571,GS_K12,4.8,12.4,3.9,01316090131755
572,GS_K12,*,*,*,01316170000000
573,GS_K12,4.4,40.3,159,01316170131763
574,GS_K12,*,*,*,01611190000000

In [25]:
df_combined = df_combined.merge(
    df_ss_ratio, 
    on="cdscode",
    how="left"
)

df_combined.head()

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,...,eligible_cumulative_enrollment,unexcused_absences_percent,outofschool_suspension_absences_percent,percent__eligible_free_k12,frpm_count_k12,calpads_fall_1_certification_status,school_grade_span,stu_tch_ratio,stu_adm_ratio,stu_psv_ratio
0,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,1841,23.5,0.5,0.172013,327.0,Y,NaN,NaN,NaN,NaN
1,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,1192,46.2,0.4,0.174389,307.0,Y,NaN,NaN,NaN,NaN
2,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,3281,24.1,0,0.262259,935.0,Y,NaN,NaN,NaN,NaN
3,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,2771,28,0.9,0.166358,491.0,Y,NaN,NaN,NaN,NaN
4,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,...,420,19.1,3.8,0.273810,97.0,Y,GS_K12,17.7,*,224

### Staff Education

[Data Dictionary: Staff Education](https://www.cde.ca.gov/ds/ad/fssted.asp)

In [26]:
df_staff_ed = rpkl(raw_pickle, "raw_staff_edu.pkl")

‚úÖ Added 'cdscode' using: county_code, district_code, school_code

üìÅ Columns in raw_staff_edu.pkl:
['academic_year', 'aggregate_level', 'county_code', 'district_code', 'school_code', 'county_name', 'district_name', 'school_name', 'charter_school', 'dass', 'staff_type', 'school_grade_span', 'staff_gender', 'total_staff_count', 'associate', 'baccalaureate', 'baccalaureate_plus', 'master', 'master_plus', 'doctorate', 'special_juris_doctor', 'none', 'cdscode']

In [27]:
cols_staff_ed = [
    # 'academic_year', 
    'aggregate_level', 
    # 'county_code', 
    # 'district_code', 
    # 'school_code', 
    # 'county_name', 
    # 'district_name', 
    # 'school_name', 
    'charter_school', 
    'dass', 
    'staff_type', 
    'school_grade_span', 
    'staff_gender', 
    'total_staff_count', 
    'associate', 
    'baccalaureate', 
    'baccalaureate_plus', 
    'master', 
    'master_plus', 
    'doctorate', 
    'special_juris_doctor', 
    'none', 
    'cdscode']


df_staff_ed = df_staff_ed[cols_staff_ed]
df_staff_ed = df_staff_ed[
  (df_staff_ed["school_grade_span"] == "GS_912") &
    (df_staff_ed["staff_type"] == "ALL") &
    (df_staff_ed["staff_gender"] == "ALL")
]

df_staff_ed.head()

,aggregate_level,charter_school,dass,staff_type,school_grade_span,staff_gender,total_staff_count,associate,baccalaureate,baccalaureate_plus,master,master_plus,doctorate,special_juris_doctor,none,cdscode
7491,S,N,N,ALL,GS_912,ALL,95,0,12,30,12,33,2,0,6,01611190130229
7503,S,N,N,ALL,GS_912,ALL,10,0,0,5,0,5,0,0,0,01611190106401
7723,S,N,N,ALL,GS_912,ALL,236,0,101,35,85,11,4,0,0,01611430131177
7998,S,N,N,ALL,GS_912,ALL,149,0,28,47,24,47,3,0,0,01611500132225
8116,S,N,N,ALL,GS_912,ALL,5,0,0,2,3,0,0,0,0,01611500130047

In [28]:
# normalize staff education

cols = ['total_staff_count', 
    'associate', 
    'baccalaureate', 
    'baccalaureate_plus', 
    'master', 
    'master_plus', 
    'doctorate', 
    'special_juris_doctor', 
    'none',]

# ensure columns are numeric
# df_staff_ed[cols] = df_staff_ed[cols].apply(pd.to_numeric, errors = "coerce")

def get_pct(df, numerator, denominator="total_staff_count"):
    num = pd.to_numeric(df[numerator], errors="coerce")
    den = pd.to_numeric(df[denominator], errors="coerce")

    denom = den.replace(0, pd.NA) # prevents division by zero
    pct = num / denom 
    return pct

df_staff_ed["pct_associate"] = get_pct(df_staff_ed, "associate")
df_staff_ed["pct_bachelors"] = get_pct(df_staff_ed, "baccalaureate")
df_staff_ed["pct_bachelors_plus"] = get_pct(df_staff_ed, "baccalaureate_plus")
df_staff_ed["pct_master"] = get_pct(df_staff_ed, "master")
df_staff_ed["pct_master_plus"] = get_pct(df_staff_ed, "master_plus")
df_staff_ed["pct_doctorate"] = get_pct(df_staff_ed, "doctorate")
df_staff_ed["pct_juris_doctor"] = get_pct(df_staff_ed, "special_juris_doctor")
df_staff_ed["pct_no_degree"] = get_pct(df_staff_ed, "none")


df_staff_ed.head()

,aggregate_level,charter_school,dass,staff_type,school_grade_span,staff_gender,total_staff_count,associate,baccalaureate,baccalaureate_plus,...,none,cdscode,pct_associate,pct_bachelors,pct_bachelors_plus,pct_master,pct_master_plus,pct_doctorate,pct_juris_doctor,pct_no_degree
7491,S,N,N,ALL,GS_912,ALL,95,0,12,30,...,6,01611190130229,0.0,0.126316,0.315789,0.126316,0.347368,0.021053,0.0,0.063158
7503,S,N,N,ALL,GS_912,ALL,10,0,0,5,...,0,01611190106401,0.0,0.000000,0.500000,0.000000,0.500000,0.000000,0.0,0.000000
7723,S,N,N,ALL,GS_912,ALL,236,0,101,35,...,0,01611430131177,0.0,0.427966,0.148305,0.360169,0.046610,0.016949,0.0,0.000000
7998,S,N,N,ALL,GS_912,ALL,149,0,28,47,...,0,01611500132225,0.0,0.187919,0.315436,0.161074,0.315436,0.020134,0.0,0.000000
8116,S,N,N,ALL,GS_912,ALL,5,0,0,2,...,0,01611500130047,0.0,0.000000,0.400000,0.600000,0.000000,0.000000,0.0,0.000000

In [29]:
staff_ed_cols = [
 'cdscode',
 'pct_associate',
 'pct_bachelors',
 'pct_bachelors_plus',
 'pct_master',
 'pct_master_plus',
 'pct_doctorate',
 'pct_juris_doctor',
 'pct_no_degree']

staff_ed = df_staff_ed[staff_ed_cols]
staff_ed

,cdscode,pct_associate,pct_bachelors,pct_bachelors_plus,pct_master,pct_master_plus,pct_doctorate,pct_juris_doctor,pct_no_degree
7491,01611190130229,0.000000,0.126316,0.315789,0.126316,0.347368,0.021053,0.0,0.063158
7503,01611190106401,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000,0.0,0.000000
7723,01611430131177,0.000000,0.427966,0.148305,0.360169,0.046610,0.016949,0.0,0.000000
7998,01611500132225,0.000000,0.187919,0.315436,0.161074,0.315436,0.020134,0.0,0.000000
8116,01611500130047,0.000000,0.000000,0.400000,0.600000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
358551,57727100101162,0.000000,0.181818,0.420455,0.272727,0.125000,0.000000,0.0,0.000000
358626,57727105738802,0.000000,0.168831,0.493506,0.233766,0.103896,0.000000,0.0,0.000000
360655,58727365830013,0.014925,0.462687,0.104478,0.238806,0.029851,0.000000,0.0,0.149254
360700,58727365835202,0.000000,0.431034,0.155172,0.241379,0.051724,0.017241,0.0,0.103448
360884,58727695838305,0.000000,0.169492,0.474576,0.254237,0.101695,0.000000,0.0,0.000000

In [30]:
df_combined = df_combined.merge(
    staff_ed, 
    on="cdscode",
    how="left"
)

df_combined.head()

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,...,stu_adm_ratio,stu_psv_ratio,pct_associate,pct_bachelors,pct_bachelors_plus,pct_master,pct_master_plus,pct_doctorate,pct_juris_doctor,pct_no_degree
0,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,NaN,NaN,0.0,0.126316,0.315789,0.126316,0.347368,0.021053,0.0,0.063158
1,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,NaN,NaN,0.0,0.427966,0.148305,0.360169,0.046610,0.016949,0.0,0.000000
3,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,NaN,NaN,0.0,0.187919,0.315436,0.161074,0.315436,0.020134,0.0,0.000000
4,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,...,*,224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
jrep.data_info(df_combined)

SHAPE:
There are 1067 rows and 39 columns (1.78 MB).

DUPLICATES:
There are 0 duplicated rows.

COLUMNS/VARIABLES:
Column dType Summary:
 * object: 29
 * float: 10
There are 10 numerical (int/float/bool) variables.
There are 29 categorical (nominal/ordinal) variables.

DATETIME COLUMNS:
There are 0 datetime variables and 1 possible datetime variables.

OTHER COLUMN/VARIABLE INFO:
ID Like Columns (threshold = 95.0%): 3
Columns with mixed datatypes: 16

In [32]:
df_combined.columns.to_list()

['cdscode',
 'county',
 'opendate',
 'charter',
 'doctype',
 'soctype',
 'edopscode',
 'eilcode',
 'virtual',
 'magnet',
 'yearroundyn',
 'latitude',
 'longitude',
 'multilingual',
 'cohortstudents',
 'regular_hs_diploma_graduates_rate',
 'met_uccsu_grad_reqs_rate',
 'seal_of_biliteracy_rate',
 'dropout_rate',
 'still_enrolled_rate',
 'chronicabsenteeismrate',
 'eligible_cumulative_enrollment',
 'unexcused_absences_percent',
 'outofschool_suspension_absences_percent',
 'percent__eligible_free_k12',
 'frpm_count_k12',
 'calpads_fall_1_certification_status',
 'school_grade_span',
 'stu_tch_ratio',
 'stu_adm_ratio',
 'stu_psv_ratio',
 'pct_associate',
 'pct_bachelors',
 'pct_bachelors_plus',
 'pct_master',
 'pct_master_plus',
 'pct_doctorate',
 'pct_juris_doctor',
 'pct_no_degree']

### Staff Experience

[Data Dictionary: Staff Experience](https://www.cde.ca.gov/ds/ad/fsstex.asp)

In [33]:
df_staff_xp = rpkl(raw_pickle, "raw_staff_exp.pkl")

‚úÖ Added 'cdscode' using: county_code, district_code, school_code

üìÅ Columns in raw_staff_exp.pkl:
['academic_year', 'aggregate_level', 'county_code', 'district_code', 'school_code', 'county_name', 'district_name', 'school_name', 'charter_school', 'dass', 'staff_type', 'school_grade_span', 'staff_gender', 'total_staff_count', 'average_total_years_experience', 'average_district_years_experience', 'experienced', 'inexperienced', 'first_year', 'second_year', 'cdscode']

In [34]:
cols_staff_xp = [
    # 'academic_year', 
    # 'aggregate_level', 
    # 'county_code', 
    # 'district_code', 
    # 'school_code', 
    # 'county_name', 
    # 'district_name', 
    # 'school_name', 
    # 'charter_school', 
    # 'dass', 
    'staff_type', 
    'school_grade_span', 
    'staff_gender', 
    'total_staff_count', 
    'average_total_years_experience', 
    'average_district_years_experience', 
    'experienced', 
    'inexperienced', 
    'first_year', 
    'second_year', 
    'cdscode']

df_staff_xp = df_staff_xp[cols_staff_xp]
df_staff_xp = df_staff_xp[
    (df_staff_xp["staff_type"] == "ALL") &
    (df_staff_xp["staff_gender"] == "ALL") &
    (df_staff_xp["school_grade_span"] == "GS_912")
]

df_staff_xp.head()

,staff_type,school_grade_span,staff_gender,total_staff_count,average_total_years_experience,average_district_years_experience,experienced,inexperienced,first_year,second_year,cdscode
7491,ALL,GS_912,ALL,95,13.6,10.0,82,13,10,3,01611190130229
7503,ALL,GS_912,ALL,10,18.3,12.8,10,0,0,0,01611190106401
7723,ALL,GS_912,ALL,236,10.7,10.3,202,34,22,12,01611430131177
7998,ALL,GS_912,ALL,149,13.8,9.5,136,13,8,5,01611500132225
8116,ALL,GS_912,ALL,5,16.2,7.6,5,0,0,0,01611500130047

In [35]:
df_staff_xp["pct_experienced"] = get_pct(df_staff_xp, "experienced", "total_staff_count")
df_staff_xp["pct_inexperienced"] = get_pct(df_staff_xp, "inexperienced", "total_staff_count")
df_staff_xp["pct_first_year"] = get_pct(df_staff_xp, "first_year", "total_staff_count")
df_staff_xp["pct_second_year"] = get_pct(df_staff_xp, "second_year", "total_staff_count")

exp_cols = [
    "cdscode", 
    "pct_experienced", 
    "pct_inexperienced", 
    "pct_first_year", 
    "pct_second_year"
]

df_staff_experience = df_staff_xp[exp_cols].copy()
df_staff_experience

,cdscode,pct_experienced,pct_inexperienced,pct_first_year,pct_second_year
7491,01611190130229,0.863158,0.136842,0.105263,0.031579
7503,01611190106401,1.000000,0.000000,0.000000,0.000000
7723,01611430131177,0.855932,0.144068,0.093220,0.050847
7998,01611500132225,0.912752,0.087248,0.053691,0.033557
8116,01611500130047,1.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...
358551,57727100101162,0.852273,0.147727,0.068182,0.079545
358626,57727105738802,0.883117,0.116883,0.064935,0.051948
360655,58727365830013,0.820896,0.179104,0.044776,0.134328
360700,58727365835202,0.862069,0.137931,0.086207,0.051724
360884,58727695838305,0.627119,0.372881,0.338983,0.033898

In [36]:
df_staff_experience["cdscode"].is_unique

True

In [37]:
df_combined = df_combined.merge(
    df_staff_experience, 
    on="cdscode", 
    how="left"
)

df_combined.shape

(1067, 43)

## Enrollment by School

[Data Dictionary: Enrollment by School](https://www.cde.ca.gov/ds/ad/fsenrps.asp)

In [38]:
df_enroll = rpkl(raw_pickle, "raw_school_enroll.pkl")

‚ö†Ô∏è Could not build 'cdscode' (missing county, district, school)

üìÅ Columns in raw_school_enroll.pkl:
['academic_year', 'cds_code', 'county', 'district', 'school', 'enr_type', 'race_ethnicity', 'gender', 'gr_kn', 'gr_1', 'gr_2', 'gr_3', 'gr_4', 'gr_5', 'gr_6', 'gr_7', 'gr_8', 'ungr_elm', 'gr_9', 'gr_10', 'gr_11', 'gr_12', 'ungr_sec', 'enr_total', 'adult']

In [39]:
df_enroll = jeda.rename_column(df_enroll, "cds_code", "cdscode")

In [40]:
cols_enroll = [
 'academic_year',
 'cdscode',
#  'county',
#  'district',
#  'school',
 'enr_type',
 'race_ethnicity',
 'gender',
#  'gr_kn',
#  'gr_1',
#  'gr_2',
#  'gr_3',
#  'gr_4',
#  'gr_5',
#  'gr_6',
#  'gr_7',
#  'gr_8',
#  'ungr_elm',
 'gr_9',
 'gr_10',
 'gr_11',
 'gr_12',
 'ungr_sec',
 'enr_total',
#  'adult'
 ]

df_enroll = df_enroll[cols_enroll]
df_enroll = df_enroll[df_enroll["academic_year"] == "2021-22"
    # (df_enroll["enr_type"] == "C")
]

df_enroll.head()

,academic_year,cdscode,enr_type,race_ethnicity,gender,gr_9,gr_10,gr_11,gr_12,ungr_sec,enr_total
262983,2021-22,01100170112607,C,0,F,0,0,3,1,0,11
262984,2021-22,01100170112607,C,0,M,0,0,0,1,0,3
262985,2021-22,01100170112607,C,1,F,0,1,1,0,0,2
262986,2021-22,01100170112607,C,2,F,0,0,0,0,0,1
262987,2021-22,01100170112607,C,2,M,0,0,1,0,0,1

In [41]:
df_enroll.shape

(132691, 11)

In [42]:
cols_to_agg = [ 
 'gr_9',
 'gr_10',
 'gr_11',
 'gr_12',
 'ungr_sec',
 'enr_total'
 ]

df_enroll[cols_to_agg] = (
    df_enroll[cols_to_agg].apply(pd.to_numeric, errors="coerce").fillna(0)
)

In [43]:
df_enroll_grouped = (
    df_enroll
    .groupby("cdscode", as_index = False)
    .agg({col: "sum" for col in cols_to_agg})
)

df_enroll_grouped["grade_retention_ratio"] = (
    df_enroll_grouped["gr_12"] / df_enroll_grouped["gr_9"].replace(0, np.nan)
)

df_enroll_grouped["pct_hs_enrollment"] = (
    (
        df_enroll_grouped["gr_9"] + 
        df_enroll_grouped["gr_10"] + 
        df_enroll_grouped["gr_11"] + 
        df_enroll_grouped["gr_12"]
    ) / df_enroll_grouped["enr_total"].replace(0, np.nan)
)

df_enroll_grouped["pct_senior_cohort"] = (
    (df_enroll_grouped["gr_11"] + df_enroll_grouped["gr_12"]) / 
    df_enroll_grouped["enr_total"].replace(0, np.nan)
)

df_enroll_grouped

,cdscode,gr_9,gr_10,gr_11,gr_12,ungr_sec,enr_total,grade_retention_ratio,pct_hs_enrollment,pct_senior_cohort
0,01100170112607,59,60,85,83,0,411,1.406780,0.698297,0.408759
1,01100170123968,0,0,0,0,0,202,NaN,0.000000,0.000000
2,01100170124172,0,0,0,0,0,672,NaN,0.000000,0.000000
3,01100170125567,0,0,0,0,0,349,NaN,0.000000,0.000000
4,01100170130401,26,14,16,5,0,64,0.192308,0.953125,0.328125
...,...,...,...,...,...,...,...,...,...,...
10550,58727690000000,0,0,0,3,0,3,NaN,1.000000,1.000000
10551,58727690000001,0,0,0,1,0,1,NaN,1.000000,1.000000
10552,58727690123570,1,2,1,0,0,5,0.000000,0.800000,0.200000
10553,58727690133751,0,1,11,33,0,45,NaN,1.000000,0.977778
10554,58727695838305,288,277,254,193,0,1012,0.670139,1.000000,0.441700

In [44]:
cols_enroll = [
    "cdscode",
    "grade_retention_ratio",
    "pct_hs_enrollment", 
    "pct_senior_cohort"
]

df_combined = df_combined.merge(
    df_enroll_grouped[cols_enroll],
    on="cdscode",
    how="left"
)

df_combined

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,...,pct_doctorate,pct_juris_doctor,pct_no_degree,pct_experienced,pct_inexperienced,pct_first_year,pct_second_year,grade_retention_ratio,pct_hs_enrollment,pct_senior_cohort
0,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.021053,0.0,0.063158,0.863158,0.136842,0.105263,0.031579,1.058568,1.00000,0.498894
1,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.996721,1.00000,0.501264
2,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.016949,0.0,0.000000,0.855932,0.144068,0.093220,0.050847,1.014907,1.00000,0.496276
3,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.020134,0.0,0.000000,0.912752,0.087248,0.053691,0.033557,0.829876,1.00000,0.470174
4,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.151515,0.39881,0.196429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,57727100101162,Yolo,2003-09-02 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.000000,0.0,0.000000,0.852273,0.147727,0.068182,0.079545,0.896386,1.00000,0.462795
1063,57727105738802,Yolo,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.000000,0.0,0.000000,0.883117,0.116883,0.064935,0.051948,0.964052,1.00000,0.485669
1064,58727365830013,Yuba,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.000000,0.0,0.149254,0.820896,0.179104,0.044776,0.134328,0.707865,1.00000,0.433469
1065,58727365835202,Yuba,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.017241,0.0,0.103448,0.862069,0.137931,0.086207,0.051724,0.623418,1.00000,0.425781
1066,58727695838305,Yuba,1980-07-01 00:00:00,N,High School District,High Schools (Public),TRAD,HS,N,N,...,0.000000,0.0,0.000000,0.627119,0.372881,0.338983,0.033898,0.670139,1.00000,0.441700

# Ca DOE School Climate, Health, and Learning Surveys

[Data Information](https://calschls.org/reports-data/query-calschls/)

## Perception of Safety by Grade Level

In [45]:
df_safety = rpkl(raw_pickle, "raw_safety_percept_grade.pkl")

‚ö†Ô∏è Could not build 'cdscode' (missing county, district, school)

üìÅ Columns in raw_safety_percept_grade.pkl:
['geography', 'geo_type', 'grade', 'very_safe_pct', 'safe_pct', 'neither_pct', 'unsafe_pct', 'very_unsafe_pct', 'years', 'level_of_safety_filter']

In [46]:
cols_safety = [
    'geography', 
    'geo_type', 
    'grade', 
    'very_safe_pct', 
    'safe_pct', 
    'neither_pct', 
    'unsafe_pct', 
    'very_unsafe_pct', 
    'years', 
    'level_of_safety_filter'
]

df_safety = df_safety[
    (df_safety["geo_type"].str.strip() == "County") & 
    (df_safety["grade"] == 11)
]

df_safety.head()

,geography,geo_type,grade,very_safe_pct,safe_pct,neither_pct,unsafe_pct,very_unsafe_pct,years,level_of_safety_filter
3,Alameda County,County,11,0.145,0.423,0.351,0.051,0.029,2017-2019,All
5,Amador County,County,11,0.165,0.433,0.328,0.052,0.022,2017-2019,All
7,Butte County,County,11,0.117,0.643,0.200,0.027,0.013,2017-2019,All
9,Calaveras County,County,11,0.117,0.416,0.371,0.059,0.038,2017-2019,All
11,Colusa County,County,11,0.143,0.481,0.314,0.017,0.045,2017-2019,All

In [47]:
def create_county_fr_geography(df, column="geography"):
    df["county"] = (
        df[column]
        .str.replace(" County", "", regex=False)
        .str.strip()
    )

    return df 

# df_safety["county"] = (
#     df_safety["geography"]
#     .str.replace(" County", "", regex=False)
#     .str.strip()
# )

df_safety = create_county_fr_geography(df_safety)

df_safety["pct_unsafe_gr11"] = df_safety["unsafe_pct"] + df_safety["very_unsafe_pct"]
df_safety["pct_safe_gr11"] = df_safety["safe_pct"] + df_safety["very_safe_pct"]
df_safety["pct_neutral_gr11"] = df_safety["neither_pct"]

df_safety

,geography,geo_type,grade,very_safe_pct,safe_pct,neither_pct,unsafe_pct,very_unsafe_pct,years,level_of_safety_filter,county,pct_unsafe_gr11,pct_safe_gr11,pct_neutral_gr11
3,Alameda County,County,11,0.145,0.423,0.351,0.051,0.029,2017-2019,All,Alameda,0.080,0.568,0.351
5,Amador County,County,11,0.165,0.433,0.328,0.052,0.022,2017-2019,All,Amador,0.074,0.598,0.328
7,Butte County,County,11,0.117,0.643,0.200,0.027,0.013,2017-2019,All,Butte,0.040,0.760,0.200
9,Calaveras County,County,11,0.117,0.416,0.371,0.059,0.038,2017-2019,All,Calaveras,0.097,0.533,0.371
11,Colusa County,County,11,0.143,0.481,0.314,0.017,0.045,2017-2019,All,Colusa,0.062,0.624,0.314
13,Contra Costa County,County,11,0.174,0.417,0.327,0.052,0.030,2017-2019,All,Contra Costa,0.082,0.591,0.327
15,Del Norte County,County,11,0.144,0.268,0.422,0.117,0.049,2017-2019,All,Del Norte,0.166,0.412,0.422
17,El Dorado County,County,11,0.160,0.423,0.335,0.063,0.019,2017-2019,All,El Dorado,0.082,0.583,0.335
19,Fresno County,County,11,NaN,NaN,NaN,NaN,NaN,2017-2019,All,Fresno,NaN,NaN,NaN
21,Glenn County,County,11,0.180,0.420,0.326,0.035,0.038,2017-2019,All,Glenn,0.073,0.600,0.326
23,Humboldt County,County,11,0.163,0.419,0.331,0.053,0.034,2017-2019,All,Humboldt,0.087,0.582,0.331
25,Imperial County,County,11,0.124,0.372,0.399,0.053,0.052,2017-2019,All,Imperial,0.105,0.496,0.399
27,Inyo County,County,11,0.197,0.397,0.325,0.047,0.034,2017-2019,All,Inyo,0.081,0.594,0.325
29,Kern County,County,11,0.127,0.371,0.402,0.063,0.036,2017-2019,All,Kern,0.099,0.498,0.402
31,Kings County,County,11,0.078,0.425,0.410,0.042,0.045,2017-2019,All,Kings,0.087,0.503,0.410
33,Lake County,County,11,0.138,0.351,0.402,0.072,0.037,2017-2019,All,Lake,0.109,0.489,0.402
35,Lassen County,County,11,0.099,0.305,0.428,0.099,0.069,2017-2019,All,Lassen,0.168,0.404,0.428
37,Los Angeles County,County,11,0.145,0.420,0.352,0.052,0.031,2017-2019,All,Los Angeles,0.083,0.565,0.352
39,Madera County,County,11,NaN,NaN,NaN,NaN,NaN,2017-2019,All,Madera,NaN,NaN,NaN
41,Marin County,County,11,0.239,0.430,0.269,0.044,0.019,2017-2019,All,Marin,0.063,0.669,0.269
43,Mariposa County,County,11,0.284,0.399,0.278,0.024,0.015,2017-2019,All,Mariposa,0.039,0.683,0.278
45,Mendocino County,County,11,0.181,0.406,0.329,0.055,0.030,2017-2019,All,Mendocino,0.085,0.587,0.329
47,Merced County,County,11,0.121,0.397,0.399,0.053,0.030,2017-2019,All,Merced,0.083,0.518,0.399
49,Modoc County,County,11,0.199,0.405,0.315,0.072,0.009,2017-2019,All,Modoc,0.081,0.604,0.315
51,Mono County,County,11,0.186,0.411,0.265,0.059,0.079,2017-2019,All,Mono,0.138,0.597,0.265
53,Monterey County,County,11,0.155,0.354,0.366,0.035,0.090,2017-2019,All,Monterey,0.125,0.509,0.366
55,Napa County,County,11,0.192,0.444,0.312,0.036,0.016,2017-2019,All,Napa,0.052,0.636,0.312
57,Nevada County,County,11,0.160,0.405,0.336,0.067,0.031,2017-2019,All,Nevada,0.098,0.565,0.336
59,Orange County,County,11,0.184,0.442,0.309,0.044,0.022,2017-2019,All,Orange,0.066,0.626,0.309
61,Placer County,County,11,0.249,0.464,0.237,0.029,0.021,2017-2019,All,Placer,0.050,0.713,0.237
63,Plumas County,County,11,0.257,0.417,0.231,0.076,0.019,2017-2019,All,Plumas,0.095,0.674,0.231
65,Riverside County,County,11,0.134,0.408,0.369,0.057,0.032,2017-2019,All,Riverside,0.089,0.542,0.369
67,Sacramento County,County,11,0.161,0.404,0.354,0.053,0.029,2017-2019,All,Sacramento,0.082,0.565,0.354
69,San Benito County,County,11,0.126,0.427,0.398,0.024,0.024,2017-2019,All,San Benito,0.048,0.553,0.398
71,San Bernardino County,County,11,NaN,NaN,NaN,NaN,NaN,2017-2019,All,San Bernardino,NaN,NaN,NaN
73,San Diego County,County,11,0.164,0.422,0.341,0.046,0.027,2017-2019,All,San Diego,0.073,0.586,0.341
75,San Francisco County,County,11,0.208,0.486,0.261,0.035,0.010,2017-2019,All,San Francisco,0.045,0.694,0.261
77,San Joaquin County,County,11,0.163,0.332,0.358,0.064,0.082,2017-2019,All,San Joaquin,0.146,0.495,0.358
79,San Luis Obispo County,County,11,0.132,0.369,0.386,0.072,0.041,2017-2019,All,San Luis Obispo,0.113,0.501,0.386
81,San Mateo County,County,11,0.180,0.470,0.287,0.046,0.017,2017-2019,All,San Mateo,0.063,0.650,0.287
83,Santa Barbara County,County,11,0.150,0.400,0.376,0.043,0.032,2017-2019,All,Santa Barbara,0.075,0.550,0.376
85,Santa Clara County,County,11,NaN,NaN,NaN,NaN,NaN,2017-2019,All,Santa Clara,NaN,NaN,NaN
87,Santa Cruz County,County,11,0.202,0.478,0.256,0.047,0.018,2017-2019,All,Santa Cruz,0.065,0.680,0.256
89,Shasta County,County,11,0.156,0.419,0.324,0.070,0.030,2017-2019,All,Shasta,0.100,0.575,0.324
91,Siskiyou County,County,11,0.091,0.464,0.345,0.092,0.008,2017-2019,All,Siskiyou,0.100,0.555,0.345
93,Solano County,County,11,0.092,0.357,0.436,0.073,0.043,2017-2019,All,Solano,0.116,0.449,0.436
95,Sonoma County,County,11,0.160,0.410,0.342,0.055,0.034,2017-2019,All,Sonoma,0.089,0.570,0.342
97,Stanislaus County,County,11,0.118,0.393,0.388,0.051,0.049,2017-2019,All,Stanislaus,0.100,0.511,0.388
99,Sutter County,County,11,NaN,NaN,NaN,NaN,NaN,2017-2019,All,Sutter,NaN,NaN,NaN
101,Tehama County,County,11,0.158,0.369,0.357,0.059,0.058,2017-2019,All,Tehama,0.117,0.527,0.357
103,Trinity County,County,11,0.082,0.466,0.377,0.061,0.014,2017-2019,All,Trinity,0.075,0.548,0.377
105,Tulare County,County,11,NaN,NaN,NaN,NaN,NaN,2017-2019,All,Tulare,NaN,NaN,NaN
107,Tuolumne County,County,11,0.116,0.420,0.375,0.044,0.045,2017-2019,All,Tuolumne,0.089,0.536,0.375
109,Ventura County,County,11,0.162,0.420,0.335,0.050,0.033,2017-2019,All,Ventura,0.083,0.582,0.335
111,Yolo County,County,11,0.162,0.437,0.342,0.034,0.025,2017-2019,All,Yolo,0.059,0.599,0.342
113,Yuba County,County,11,0.092,0.365,0.402,0.079,0.061,2017-2019,All,Yuba,0.140,0.457,0.402

In [48]:
cols_safety = [
#  'geography',
#  'geo_type',
#  'grade',
#  'very_safe_pct',
#  'safe_pct',
#  'neither_pct',
#  'unsafe_pct',
#  'very_unsafe_pct',
#  'years',
#  'level_of_safety_filter',
 'county',
 'pct_unsafe_gr11',
 'pct_safe_gr11',
 'pct_neutral_gr11']

df_combined = df_combined.merge(
    df_safety[cols_safety],
    on="county",
    how="left"
)

df_combined

,cdscode,county,opendate,charter,doctype,soctype,edopscode,eilcode,virtual,magnet,...,pct_experienced,pct_inexperienced,pct_first_year,pct_second_year,grade_retention_ratio,pct_hs_enrollment,pct_senior_cohort,pct_unsafe_gr11,pct_safe_gr11,pct_neutral_gr11
0,01611190130229,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.863158,0.136842,0.105263,0.031579,1.058568,1.00000,0.498894,0.080,0.568,0.351
1,01611270130450,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,NaN,NaN,NaN,NaN,0.996721,1.00000,0.501264,0.080,0.568,0.351
2,01611430131177,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.855932,0.144068,0.093220,0.050847,1.014907,1.00000,0.496276,0.080,0.568,0.351
3,01611500132225,Alameda,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.912752,0.087248,0.053691,0.033557,0.829876,1.00000,0.470174,0.080,0.568,0.351
4,01611500133876,Alameda,2016-07-01 00:00:00,N,Unified School District,K-12 Schools (Public),TRAD,HS,V,N,...,NaN,NaN,NaN,NaN,1.151515,0.39881,0.196429,0.080,0.568,0.351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,57727100101162,Yolo,2003-09-02 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.852273,0.147727,0.068182,0.079545,0.896386,1.00000,0.462795,0.059,0.599,0.342
1063,57727105738802,Yolo,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.883117,0.116883,0.064935,0.051948,0.964052,1.00000,0.485669,0.059,0.599,0.342
1064,58727365830013,Yuba,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.820896,0.179104,0.044776,0.134328,0.707865,1.00000,0.433469,0.140,0.457,0.402
1065,58727365835202,Yuba,1980-07-01 00:00:00,N,Unified School District,High Schools (Public),TRAD,HS,N,N,...,0.862069,0.137931,0.086207,0.051724,0.623418,1.00000,0.425781,0.140,0.457,0.402
1066,58727695838305,Yuba,1980-07-01 00:00:00,N,High School District,High Schools (Public),TRAD,HS,N,N,...,0.627119,0.372881,0.338983,0.033898,0.670139,1.00000,0.441700,0.140,0.457,0.402

## Perception of Safety by School Connectedness

In [49]:
df_connected = rpkl(raw_pickle, "raw_safety_connect.pkl")

‚ö†Ô∏è Could not build 'cdscode' (missing county, district, school)

üìÅ Columns in raw_safety_connect.pkl:
['geography', 'connectedness', 'very_safe', 'safe', 'neither_safe_nor_unsafe', 'unsafe', 'very_unsafe', 'safety_positive']

In [51]:
df_connected = create_county_fr_geography(df_connected)

df_connected.columns.to_list()

['geography',
 'connectedness',
 'very_safe',
 'safe',
 'neither_safe_nor_unsafe',
 'unsafe',
 'very_unsafe',
 'safety_positive',
 'county']

In [52]:
cols_connected = [
 'geography',
 'connectedness',
 'very_safe',
 'safe',
 'neither_safe_nor_unsafe',
 'unsafe',
 'very_unsafe',
 'safety_positive',
 'county'
]

df_connected[cols_connected]

,geography,connectedness,very_safe,safe,neither_safe_nor_unsafe,unsafe,very_unsafe,safety_positive,county
0,California,High,0.268,0.559,0.157,0.011,0.005,0.827,California
1,California,Medium,0.052,0.334,0.520,0.065,0.028,0.386,California
2,California,Low,0.069,0.111,0.428,0.196,0.196,0.180,California
3,Alameda County,High,0.268,0.582,0.138,0.009,0.004,0.850,Alameda
4,Alameda County,Medium,0.060,0.370,0.494,0.057,0.020,0.430,Alameda
...,...,...,...,...,...,...,...,...,...
172,Yolo County,Medium,0.064,0.385,0.475,0.053,0.022,0.449,Yolo
173,Yolo County,Low,0.083,0.136,0.456,0.163,0.162,0.219,Yolo
174,Yuba County,High,0.234,0.584,0.160,0.015,0.007,0.818,Yuba
175,Yuba County,Medium,0.036,0.331,0.498,0.086,0.049,0.367,Yuba
176,Yuba County,Low,0.033,0.102,0.438,0.240,0.186,0.135,Yuba